<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body class="bg-light">

<main role="main">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Departments</h3>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Country</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dep : ${departments}">
                            <td th:text="${dep.id}"></td>
                            <td th:text="${dep.name}"></td>
                            <td th:text="${dep.code}"></td>
                            <td th:text="${dep.country}"></td>
                            <td>
                                <a class="btn btn-outline-danger"
                                   th:href="@{'/department/delete?id=' + ${dep.id}}"
                                >Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary my-3"
                       th:href="@{/department/create-department}"
                    >Create Department</a>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>